<%- include("partials/header") -%>

    <h1>
        <%= title %>
    </h1>

    <h4>
        What is the website?
    </h4>
    <p>
        This is my daily journals website, yes me Faisal!
    </p>
    <br>
    <br>
    <h4>
        Why should we read your journals?
    </h4>
    <p>
        People argue that they shouldn't wasting time reading someone's posts, well I agree if that someone wasn't me!
    </p>
    <%- include("partials/footer") -%>